  <h3>signUp woot woot!!</h3>
  <div >
  <form name="signupForm" ng-submit='authenticateUser()'>
    <br/>
    <input type='text' ng-model='user.username' placeholder="Username">
    <br/>
    <input type="password" ng-model='user.password' placeholder="Password">    
    <br/>
    <input type='text' ng-model='user.barterSkill'  placeholder="Skill">
    <br/>
    <input type="text" ng-model='user.location' placeholder="Location">
    <br/>
    <button>signup</button>
    <br/>
  </form>
  <br/>
  <a href="#/signin">Ready to Rock? Sign in! <strong>Sign In</strong></a>
</div>
